@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-text-primary: #f8fafc;
  --color-text-muted: #94a3b8;
  --color-text-secondary: #cbd5e1;
  --color-brand-400: #818cf8;
  --color-brand-600: #4f46e5;
  --surface-1: #0f172a;
  --surface-2: #1e293b;
  --surface-3: #334155;
  --surface-4: #475569;
}

body {
  background-color: var(--surface-1);
  color: var(--color-text-primary);
}
